ul:not(.wp-block-gallery),
ol {
	margin: 20px auto;
	list-style-position: outside;

	@media (max-width: 480px) {
		margin: 20px 0;
	}
}

li {
	margin: 20px 0;
	line-height: 1.74;

	@media (max-width: 480px) {
		margin: 16px 0;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ul,
ol {
	@media (max-width: 1360px) {
		padding-left: 30px;
	}

	@media (max-width: 480px) {
		padding-left: 20px;
	}
}

dt {
	font-weight: bold;
	margin-bottom: 10px;
}

dd {
	margin: 0 0 20px;
	line-height: 1.74;

	@media (max-width: 480px) {
		margin: 0 0 16px;
	}
}
